#slider-62 .wd-slide {
	min-height: 500px;
}

@media (max-width: 1024px) {
	#slider-62 .wd-slide {
		min-height: 500px;
	}
}

@media (max-width: 768px) {
	#slider-62 .wd-slide {
		min-height: 500px;
	}
}
