@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//alsaadrose.store/wp-content/themes/woodmart/fonts/woodmart-font-3-400.woff2?v=8.3.4") format("woff2");
}

@font-face {
	font-family: "star";
	font-weight: 400;
	font-style: normal;
	src: url("//alsaadrose.store/wp-content/plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("//alsaadrose.store/wp-content/plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("//alsaadrose.store/wp-content/plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("//alsaadrose.store/wp-content/plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
}

@font-face {
	font-family: "WooCommerce";
	font-weight: 400;
	font-style: normal;
	src: url("//alsaadrose.store/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("//alsaadrose.store/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.woff") format("woff"), url("//alsaadrose.store/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.ttf") format("truetype"), url("//alsaadrose.store/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.svg#WooCommerce") format("svg");
}

:root {
	--wd-text-font: "Satoshi", Arial, Helvetica, sans-serif;
	--wd-text-font-weight: 500;
	--wd-text-color: #767676;
	--wd-text-font-size: 16px;
	--wd-title-font: "Satoshi", Arial, Helvetica, sans-serif;
	--wd-title-font-weight: 500;
	--wd-title-color: #242424;
	--wd-entities-title-font: "Satoshi", Arial, Helvetica, sans-serif;
	--wd-entities-title-font-weight: 500;
	--wd-entities-title-color: #333333;
	--wd-entities-title-color-hover: rgb(51 51 51 / 65%);
	--wd-alternative-font: "Lato", Arial, Helvetica, sans-serif;
	--wd-widget-title-font: "Satoshi", Arial, Helvetica, sans-serif;
	--wd-widget-title-font-weight: 500;
	--wd-widget-title-transform: none;
	--wd-widget-title-color: #333;
	--wd-widget-title-font-size: 16px;
	--wd-header-el-font: "Satoshi", Arial, Helvetica, sans-serif;
	--wd-header-el-font-weight: 500;
	--wd-header-el-transform: none;
	--wd-header-el-font-size: 16px;
	--wd-brd-radius: 10px;
	--wd-otl-style: dotted;
	--wd-otl-width: 2px;
	--wd-primary-color: rgb(161,207,222);
	--wd-alternative-color: rgb(194,209,151);
	--btn-default-bgcolor: rgb(36,36,36);
	--btn-default-bgcolor-hover: rgb(51,51,51);
	--btn-accented-bgcolor: rgb(161,207,222);
	--btn-accented-bgcolor-hover: rgb(145,186,199);
	--btn-font-weight: 500;
	--btn-transform: capitalize;
	--btn-font-size: 14px;
	--wd-form-brd-width: 1px;
	--notices-success-bg: #459647;
	--notices-success-color: #fff;
	--notices-warning-bg: #E0B252;
	--notices-warning-color: #fff;
	--wd-link-color: rgb(161,207,222);
	--wd-link-color-hover: rgb(145,186,199);
}
.wd-age-verify-wrap {
	--wd-popup-width: 500px;
}
.wd-popup.wd-promo-popup {
	background-color: #111111;
	background-image: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
}
.wd-promo-popup-wrap {
	--wd-popup-width: 800px;
}
:is(.woodmart-archive-shop .wd-builder-off,.wd-wishlist-content,.related-and-upsells,.cart-collaterals,.wd-shop-product,.wd-fbt) .wd-products-with-bg, :is(.woodmart-archive-shop .wd-builder-off,.wd-wishlist-content,.related-and-upsells,.cart-collaterals,.wd-shop-product,.wd-fbt) .wd-products-with-bg :is(.wd-product,.wd-cat) {
	--wd-prod-bg:rgb(255,255,255);
	--wd-bordered-bg:rgb(255,255,255);
}
:is(.woodmart-woocommerce-layered-nav, .wd-product-category-filter) .wd-scroll-content {
	max-height: 223px;
}
.wd-page-title .wd-page-title-bg img {
	object-fit: cover;
	object-position: center center;
}
.wd-footer {
	background-color: rgb(36,36,36);
	background-image: none;
}
html .page-title > .container > .title, html .page-title .wd-title-wrapp > .title {
	font-size: 28px;
}
.whb-top-bar .wd-nav.wd-nav-secondary > li > a {
	font-size: 13px;
}
html .wd-nav-mobile > li > a {
	text-transform: none;
}
html .wd-nav-mobile .wd-sub-menu li a {
	text-transform: none;
}
html .product.wd-cat .wd-entities-title, html .product.wd-cat.cat-design-replace-title .wd-entities-title, html .wd-masonry-first .wd-cat:first-child .wd-entities-title {
	text-transform: none;
}
html table th {
	text-transform: none;
}
html .wd-checkout-steps li {
	text-transform: none;
}
.page .wd-page-content {
	background-color: rgb(245,247,248);
	background-image: none;
}
.woodmart-archive-shop:not(.single-product) .wd-page-content {
	background-color: rgb(245,247,248);
	background-image: none;
}
.single-product .wd-page-content {
	background-color: rgb(245,247,248);
	background-image: none;
}
.woodmart-archive-blog .wd-page-content {
	background-color: rgb(245,247,248);
	background-image: none;
}
.single-post .wd-page-content {
	background-color: rgb(245,247,248);
	background-image: none;
}
.woodmart-archive-portfolio .wd-page-content {
	background-color: rgb(245,247,248);
	background-image: none;
}
.single-portfolio .wd-page-content {
	background-color: rgb(245,247,248);
	background-image: none;
}
body, [class*=color-scheme-light], [class*=color-scheme-dark], .wd-search-form[class*="wd-header-search-form"] form.searchform, .wd-el-search .searchform {
	--wd-form-bg: rgb(255,255,255);
}
.product-labels .product-label.onsale {
	background-color: rgb(194,209,151);
}
.product-labels .product-label.new {
	background-color: rgb(194,209,151);
}
.product-labels .product-label.featured {
	background-color: rgb(194,209,151);
}
.mfp-wrap.wd-popup-quick-view-wrap {
	--wd-popup-width: 920px;
}

@media (max-width: 1024px) {
	html .page-title > .container > .title, html .page-title .wd-title-wrapp > .title {
		font-size: 24px;
	}
	[class*="thumbs-grid-bottom"] .woocommerce-product-gallery__wrapper.wd-grid {
		--wd-col: 1;
	}

}

@media (max-width: 768.98px) {
	html .page-title > .container > .title, html .page-title .wd-title-wrapp > .title {
		font-size: 22px;
	}
	[class*="thumbs-grid-bottom"] .woocommerce-product-gallery__wrapper.wd-grid {
		--wd-col: 1;
	}

}
:root{
--wd-container-w: 1660px;
--wd-form-brd-radius: 35px;
--btn-default-color: #fff;
--btn-default-color-hover: #fff;
--btn-accented-color: #fff;
--btn-accented-color-hover: #fff;
--btn-default-brd-radius: 35px;
--btn-default-box-shadow: none;
--btn-default-box-shadow-hover: none;
--btn-accented-brd-radius: 35px;
--btn-accented-box-shadow: none;
--btn-accented-box-shadow-hover: none;
}

@media (min-width: 1660px) {
section.elementor-section.wd-section-stretch > .elementor-container {
margin-left: auto;
margin-right: auto;
}
}


.wd-page-title {
background-color: rgb(245,247,248);
}

@font-face {
	font-family: "Satoshi";
	src: url("//alsaadrose.store/wp-content/uploads/2024/10/Satoshi-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("//alsaadrose.store/wp-content/uploads/2024/10/Satoshi-Bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

